@import url(fontawesome-all.min.css);

@font-face {
  font-family: "MufanPFS";
  src: url("../webfonts/mufanpfs.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("../webfonts/candara.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-bg1: #fbfff1;
  --color-bg2: #ffffff;
  --color-text: #5c7444;
  --color-bg-dark: #2e3141;
  --color-border: rgba(255, 255, 255, 0.125);
  --color-overlay: rgba(46, 49, 65, 0.8);
  --chevron-height: 6.5em;
}

/* Reset */

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}

input,
textarea {
  -webkit-appearance: none;
  appearance: none;
}

/* Basic */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg-dark);
  background-image:
    linear-gradient(to top, rgba(46, 49, 65, 0.2), rgba(46, 49, 65, 0.2)),
    url("../../images/bg.jpg");
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  animation: none !important;
  transition: none !important;
}

/* Type */

body,
input,
textarea {
  color: var(--color-text);
  font-family: "Candara", Helvetica, sans-serif;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1280px) {
  body,
  input,
  textarea {
    font-size: 12pt;
  }
}

a {
  transition:
    color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #ffffff !important;
}

a.special:not(.button) {
  text-decoration: none;
  border-bottom: 0;
  display: block;
  font-family: "Candara", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 2em 0;
  text-transform: uppercase;
}

a.special:not(.button):before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 2px var(--color-border);
  content: "\f105";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 1.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  height: 2em;
  line-height: 1.75em;
  margin-right: 0.85em;
  text-align: center;
  text-indent: 0.15em;
  text-rendering: auto;
  text-transform: none !important;
  vertical-align: middle;
  width: 2em;
}

a.special:not(.button):hover:before {
  background-color: rgba(255, 255, 255, 0.025);
}

a.special:not(.button):active:before {
  background-color: rgba(255, 255, 255, 0.075);
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3 {
  color: var(--color-text);
  font-family: "MufanPFS", Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
}

.banner-title {
  color: var(--color-bg2);
  font-size: 2.5em;
}

.banner-subtitle {
  color: var(--color-bg2);
  font-size: 1.5em;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0;
}

h1.major,
h2.major,
h3.major {
  padding-bottom: 1em;
  border-bottom: solid 2px var(--color-border);
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 0.9em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }
}

/* Form */

form {
  margin: 0 0 2em 0;
}

form > :last-child {
  margin-bottom: 0;
}

form > .fields {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: -1.5em 0 2em -1.5em;
}

form > .fields > .field {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em);
}

label {
  color: #ffffff;
  display: block;
  font-family: "Candara", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  text-transform: uppercase;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: solid 2px var(--color-border);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #5b6ba6;
}

input[type="text"],
input[type="email"] {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  opacity: 1;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: inherit;
  text-rendering: auto;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Image */

.image {
  border-radius: 5px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 5px;
  display: block;
}

/* List */

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

/* Actions */

ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

@media screen and (max-width: 736px) {
  ul.actions {
    flex-direction: column;
    margin-left: 0;
    width: 100% !important;
  }

  ul.actions li {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }

  ul.actions li > * {
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
  }

  ul.actions li input[type="submit"],
  ul.actions li .button {
    width: 100%;
  }
}

/* Contact */

ul.contact {
  list-style: none;
  padding: 0;
}

ul.contact li {
  margin: 2.5em 0 0 0;
  padding: 0 0 0 3.25em;
  position: relative;
}

ul.contact li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border-radius: 100%;
  border: solid 2px var(--color-border);
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  height: 2.5em;
  left: 0;
  line-height: 2.35em;
  position: absolute;
  text-align: center;
  text-rendering: auto;
  text-transform: none !important;
  top: 0;
  width: 2.5em;
}

ul.contact li:first-child {
  margin-top: 0;
}

@media screen and (max-width: 736px) {
  ul.contact li {
    margin: 1.5em 0 0 0;
  }
}

/* Button */

input[type="submit"],
.button {
  -webkit-appearance: none;
  appearance: none;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px var(--color-border);
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Candara", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.75em;
  letter-spacing: 0.1em;
  line-height: 3.75em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover,
.button:hover {
  background-color: rgba(255, 255, 255, 0.025);
}

input[type="submit"]:active,
.button:active {
  background-color: rgba(255, 255, 255, 0.075);
}

@media screen and (max-width: 736px) {
  input[type="submit"],
  .button {
    padding: 0;
  }
}

/* Features */

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2em 0;
}

.features article {
  padding: 1.75em 1.75em 0.1em 1.75em;
  background-color: #353849;
  border-radius: 5px;
  margin: 1.5em 3em 1.5em 0;
  width: calc(50% - 1.5em);
}

.features article:nth-child(2n) {
  margin-right: 0;
}

.features article .image {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-bottom: 1.75em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  position: relative;
  width: calc(100% + 3.5em);
}

.features article .image img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

@media screen and (max-width: 736px) {
  .features {
    display: block;
  }

  .features article {
    width: 100%;
    margin: 0 0 2em 0 !important;
  }
}

/* Header */

#header {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(53, 56, 73, 0.95);
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  padding: 0 1.25em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#header h1 {
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s;
  border-bottom: 0;
  font-size: 0.8em;
  margin-bottom: 0;
  opacity: 1;
  visibility: visible;
}

#header h1 a {
  border: 0;
}

#header nav {
  font-family: "Candara", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3em;
  letter-spacing: 0.1em;
  line-height: 3em;
  position: absolute;
  right: 0.7em;
  text-transform: uppercase;
  top: 0.7em;
}

#header nav a {
  border: 0;
  display: inline-block;
  padding: 0 1em;
}

#header.alt {
  background-color: transparent;
}

@media screen and (max-width: 736px) {
  #header {
    height: 2.75em;
    line-height: 2.75em;
  }

  #header nav {
    top: 0;
    right: 0;
    height: inherit;
    line-height: inherit;
  }

  #header nav a {
    height: inherit;
    line-height: inherit;
  }
}

/* Menu */

#page-wrapper {
  transition: filter 0.25s ease;
}

#menu {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  transition:
    opacity 0.35s ease,
    visibility 0.35s;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: var(--color-overlay);
  cursor: default;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
}

#menu .inner {
  padding: 2.5em 1.5em 0.5em 1.5em;
  transform: translateY(0.5em);
  transition:
    opacity 0.35s ease,
    transform 0.35s ease;
  background: var(--color-bg1);
  border-radius: 5px;
  display: block;
  max-width: 100%;
  opacity: 0;
  position: relative;
  width: 18em;
}

#menu h2 {
  border-bottom: solid 2px var(--color-border);
  padding-bottom: 1em;
}

#menu .close {
  background-image: url("images/close.svg");
  background-position: 75% 25%;
  background-repeat: no-repeat;
  background-size: 2em 2em;
  border: 0;
  content: "";
  display: block;
  height: 4em;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 4em;
  top: 0;
  width: 4em;
}

#menu .links {
  list-style: none;
  margin-bottom: 1.5em;
  padding: 0;
}

#menu .links li {
  padding: 0;
}

#menu .links li a {
  border-radius: 5px;
  border: 0;
  display: block;
  font-family: "Candara", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.85em;
  padding: 0.75em 0;
  text-transform: uppercase;
}

#menu .links li a:hover {
  background: var(--color-bg2);
}

@media screen and (max-width: 736px) {
  #menu .inner {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #menu .inner .close {
    background-size: 1.5em 1.5em;
  }
}

body.is-menu-visible #page-wrapper {
  filter: blur(1.5px);
}

body.is-menu-visible #menu {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

body.is-menu-visible #menu .inner {
  transform: translateY(0);
  opacity: 1;
}

/* Banner */

#banner {
  padding: 10em 0 4.75em 0;
}

#banner .inner {
  margin: 0 auto;
  max-width: 55em;
  width: 100%;
  padding: 0 3em;
}

#banner .logo {
  transition:
    opacity 2s ease,
    transform 1s ease;
  transform: translateY(0);
  opacity: 1;
  margin: 0 0 1.3em 0;
}

#banner .logo .icon {
  border-radius: 100%;
  border: solid 2px var(--color-border);
  cursor: default;
  display: inline-block;
  font-size: 2em;
  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
  width: 2.25em;
}

#banner h2 {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease,
    filter 0.25s ease;
  transform: translateX(0);
  transition-delay: 0.65s;
  filter: blur(0);
  opacity: 1;
  border-bottom: solid 2px var(--color-border);
  margin-bottom: 0.8em;
  padding-bottom: 0.4em;
}

@media screen and (max-width: 1280px) {
  #banner {
    padding: 7em 0 8.25em 0;
    background-color: var(--color-bg-dark);
    background-image:
      linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)),
      url("../../images/bg.jpg");
    background-size: auto, cover;
    background-position: center, center;
    margin-bottom: calc(-1 * var(--chevron-height));
  }
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 5em 2em 4.25em 2em;
    margin-bottom: -2.5em;
  }

  #banner .inner {
    padding: 0;
  }

  #banner .logo {
    margin: 0 0 1em 0;
  }

  #banner .logo .icon {
    font-size: 1.5em;
  }

  #banner h2 {
    font-size: 1.5em;
  }
}

body.is-preload #banner .logo {
  transform: translateY(0.5em);
  opacity: 0;
}

body.is-preload #banner h2 {
  opacity: 0;
  transform: translateX(0.25em);
  filter: blur(2px);
}

/* Wrapper */

#wrapper > header {
  padding: 11em 0 2.25em 0;
}

#wrapper > header .inner {
  margin: 0 auto;
  max-width: 55em;
  width: 100%;
  padding: 0 3em;
}

#wrapper > header h2 {
  border-bottom: solid 2px var(--color-border);
  font-size: 2em;
  margin-bottom: 0.8em;
  padding-bottom: 0.4em;
}

#wrapper > header p {
  font-family: "Candara", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 2;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  #wrapper > header {
    padding: 9em 0 6.25em 0;
    background-color: var(--color-bg-dark);
    background-image:
      linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)),
      url("../../images/bg.jpg");
    background-size: auto, cover;
    background-position: center, 0% 30%;
    margin-bottom: calc(-1 * var(--chevron-height));
  }
}

@media screen and (max-width: 736px) {
  #wrapper > header {
    padding: 6.5em 2em 3em 2em;
    background-size: auto, 125%;
    margin-bottom: -2.5em;
  }

  #wrapper > header .inner {
    padding: 0;
  }

  #wrapper > header h2 {
    font-size: 1.25em;
  }

  #wrapper > header p {
    font-size: 0.8em;
  }
}

.wrapper {
  background-color: var(--color-bg-dark);
  margin: var(--chevron-height) 0;
  position: relative;
}

.wrapper:before,
.wrapper:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141%3B' /%3E%3C/svg%3E");
  box-shadow:
    inset 0 -1px 0 0 var(--color-bg-dark),
    0 1px 0 0 var(--color-bg-dark);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  display: block;
  height: var(--chevron-height);
  position: absolute;
  width: 100%;
}

.wrapper:before {
  left: 0;
  top: calc(-1 * var(--chevron-height));
}

.wrapper:after {
  transform: scaleY(-1);
  bottom: calc(-1 * var(--chevron-height));
  left: 0;
}

.wrapper.alt:before {
  transform: scaleX(-1);
}

.wrapper.alt:after {
  transform: scaleY(-1) scaleX(-1);
}

.wrapper .inner {
  padding: 3em 3em 1em 3em;
  margin: 0 auto;
  max-width: 55em;
  width: 100%;
}

.wrapper.spotlight {
  background-color: var(--color-bg1);
}

.wrapper.spotlight:before,
.wrapper.spotlight:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23fbfff1%3B' /%3E%3C/svg%3E");
  box-shadow:
    inset 0 -1px 0 0 var(--color-bg1),
    0 1px 0 0 var(--color-bg1);
}

.wrapper.spotlight .inner {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.wrapper.spotlight .image {
  border-radius: 100%;
  margin: 0 3em 2em 0;
  width: 22em;
  overflow: hidden;
}

.wrapper.spotlight .image img {
  border-radius: 100%;
  width: 100%;
}

.wrapper.spotlight .content {
  width: 100%;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
  flex-direction: row-reverse;
  text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
  margin: 0 0 2em 3em;
}

.wrapper.spotlight.style2 {
  background-color: var(--color-bg2);
}

.wrapper.spotlight.style2:before,
.wrapper.spotlight.style2:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23ffffff%3B' /%3E%3C/svg%3E");
  box-shadow:
    inset 0 -1px 0 0 var(--color-bg2),
    0 1px 0 0 var(--color-bg2);
}

@media screen and (max-width: 736px) {
  .wrapper {
    --chevron-height: 2.5em;
  }

  .wrapper .inner {
    padding: 2em 1.5em 0.1em 1.5em;
  }

  .wrapper.spotlight .inner {
    align-items: flex-start;
    display: block;
  }

  .wrapper.spotlight .image {
    margin: 0 0 1em 0 !important;
    max-width: 85%;
    width: 12em;
  }
}

/* Footer */

#footer .inner {
  padding: 5em 3em 3em 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 55em;
  width: 100%;
}

#footer .inner > * {
  width: 100%;
}

#footer .inner form {
  margin: 0 3em 0 0;
  width: calc(50% - 1.5em);
}

#footer .inner .contact {
  width: calc(50% - 1.5em);
}

#footer .inner .copyright {
  border-top: solid 2px var(--color-border);
  list-style: none;
  margin: 4em 0 2em 0;
  padding: 2em 0 0 0;
  width: 100%;
}

#footer .inner .copyright li {
  border-left: solid 2px var(--color-border);
  color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  font-size: 0.9em;
  line-height: 1;
  margin-left: 1em;
  padding: 0 0 0 1em;
}

#footer .inner .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .inner .copyright li a {
  color: inherit;
}

@media screen and (max-width: 1280px) {
  #footer {
    background-color: var(--color-bg-dark);
    background-image:
      linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)),
      url("../../images/bg.jpg");
    background-size: auto, cover;
    background-position: center, center;
    margin-top: calc(-1 * var(--chevron-height));
    padding-top: var(--chevron-height);
  }
}

@media screen and (max-width: 736px) {
  #footer {
    margin-top: -2.5em;
    padding-top: 2.5em;
  }

  #footer .inner {
    padding: 2em 1.5em 0.1em 1.5em;
    display: block;
  }

  #footer .inner form {
    width: 100%;
    margin: 0 0 3em 0;
  }

  #footer .inner .contact {
    width: 100%;
    margin: 0 0 3em 0;
  }

  #footer .inner .copyright {
    margin: 4em 0 2em 0;
  }

  #footer .inner .copyright li {
    border-left: 0;
    display: block;
    margin: 1em 0 0 0;
    padding-left: 0;
  }

  #footer .inner .copyright li:first-child {
    margin-top: 0;
  }
}
